<section id='client'>
  <div class="card card-default">
    <div class="card card-heading"><%= "#{@client_location.name ? t('client_location.edit') + ': ' + @client.cust_name + ' : ' + @client_location.name : t('client_location.new')}" %></div>
    <div class="card card-body">
      <%= bootstrap_form_for [:admin, @client, @client_location], html: {multipart: true}, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" do |f| %>
        <%= f.hidden_field :lock_version, {:value => @client_location.lock_version} %>
        <%= f.hidden_field :client_id, {:value => @client_location.client_id} %>
        <%= f.alert_message t(:correct_errors) %>
        <%= f.select :sls_location, TbdashSalesLoc.using(@client.cust_no).form_lov,
                     selected: @client_location.sls_location,
                     prompt: t('select'), label: t('client_location.sls_location'), wrapper: {class: 'form-control-sm'} %>
        <%= f.text_field :name, label: t('client_location.name'), wrapper: {class: 'form-control-sm'} %>
        <%= f.submit t(:save), html_options = {class: 'btn btn-primary btn-sm'} %>
      <% end %>
    </div>
  </div>
</section>